<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/static/favicon.ico">

    <title>Dewdrop Blog</title>


    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.dewdrop.cc">Dewdrop</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页</a></li>

                    {{range $index,$cate:=.cate_list}}
                    <li><a href="/blog/category/{{$cate.Name}}">{{$cate.DisplayName}}</a></li>
                    {{end}}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>


<div class="container">

    <div class="row">

        <div class="col-md-12 col-lg-9">
            <article class="blog-post">
                <h2 class="blog-post-title">{{.blog.Title}}</h2>
                <ul class="blog-post-meta">
                    <li>作者 : <a href="/user/{{.blog.Author.Id}}">{{.blog.Author.NickName}}</a></li>
                    <li>时间 : {{.blog.Time}}</li>
                    <li>分类 : <a href="/blog/category/{{.blog.Category.Name}}">{{.blog.Category.DisplayName}}</a></li>
                    <li>评论 : <a>0</a></li>
                    <li>浏览 : <a>0</a></li>
                </ul>
                <div class="blog-post-content">
                    <span id="blog_content"></span>
                </div>
            </article>
        </div>
        <div class="col-md-12 col-lg-2 col-lg-offset-1">

        </div>

    </div>
</div>


<footer class="footer">
    <div class="container">
        <p class="text-muted">Dewdrop Inc. 2016</p>
    </div>
</footer>


<script type="text/javascript" src="/static/js/jquery-2.2.3.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/showdown.js"></script>


<script>
    var converter = new showdown.Converter();
    var html = converter.makeHtml('{{.blog.Content}}');
    document.getElementById('blog_content').innerHTML = html;
</script>
</body>
</html>