html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 0 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer > .container .text-muted {
    margin: 20px 0;
}

/*
 * Blog posts
 */

.blog-post {
    padding: 15px 0 20px;
    border-bottom: 1px solid #EEE;
}

.blog-post-title {
    margin: .83em 0;
    font-size: 1.4em;
}

.blog-post-meta{
    font-size: 0.8em;
}

.blog-post-meta li {
    display: inline-block;
    margin: 0 8px 0;
    padding-left: 8px;
    border-left: 1px solid #EEE;
}

.blog-post-meta li:first-child {
    margin-left: 0;
    padding-left: 0;
    border: none;
}

.blog-post-content {
    line-height:1.5;
}
